@import "./layout.css";


.parallax {
    background-image: url('../images/Bakgrunn.webp');
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blur {
    position: relative; 
  }
  
  .blur:before {
    content: '';
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blur img {
    display: block; 
  }
  .slider {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: white;
  }
  .slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 225, 228);
    border-radius: 10px
  }
  .slides{
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    align-items: center;
  }
  .slides::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
  .slide-arrow {
    display: flex;
    margin: auto;
    background-color: black;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 1.5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    color: lightblue;
  }
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  #slide-arrow-prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #slide-arrow-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .slidertext{
    max-width: 500px;
    width: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
  }
  .mainheader{
    color: white;
    font-size: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 4px solid white;
    position: relative;
    padding: 5px;
    
  }
  .dogimg {
    height: 300px;
    width: 300px;
    border: 2px solid black;
  }
  /* Media Queries */
  @media (max-width:700px){
    .mainheader {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dogimg {
      width: 375px;
    }
    
  }
  
  
  
  
  
  