* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Zen Dots', cursive;
  background-image: url('../images/Body\ bakgrunn.jpg');
  
}
main {
  min-height: 100vh;
  max-width: 1200px; 
  margin: 0 auto !important; 
  float: none !important;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Zen Dots', cursive;
  
}
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
  position: relative;
  
}
#loading.display {
  display: block;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }
.title {
    margin: 0 auto;
}
.maxwidth{
    max-width: 1200px;
}
.nav {
    color: lightblue;
    padding: 15px;
    display: flex;
    width: 100vw;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;

}
.header{
    border-bottom: 1px solid black;
    background-color: black;
    color: lightblue;
    padding: 15px;
    display: flex;
    width: 100vw;
    height: 10%;
    top: 0px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}
.socials{
    display: flex;
    gap: 5px;
}
.input{
    width: 50%;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: absolute;
    top: 35px;
    left: 70px;
    width       : 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightblue;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 300px;
    height: 80%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
    

  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: lightblue;
  } 
  .footer {
    display: grid;
    place-items: center;
    background-color: black; 
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 50px;
    border: 1px solid white;
  }
  .footer a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer li {
    list-style: none;  
}
footer a:hover {
  background-color: white;
  color: black;
  
}
.footer i {
  font-size: 30px;
}
footer i:hover {
  scale: 1.5;
}
  .backtotop {
    cursor: pointer;
  }
  .backtotop:hover {
    background-color: white;
    color: black;
    padding: 10px;
  }
  