@import "./layout.css";

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: lightgrey;
    height: 100%;
    min-height: 100vh;
    padding: 15px;
    gap: 10px;
    font-family:monospace;
    border-radius: 10px;
}
p {
    max-width: 600px;
    font-size: 20px;
}
img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    
}
.back {
    padding: 15px;
    border-radius: 10px;
    border-bottom: 4px solid lightgreen;
    border-left: 4px solid lightgreen;
    background-color: black;
    color: white;
    border-top: none;
    position: relative;
    top: 50px;
}
.back:hover{
    background-color: lightgreen ;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}
.back a {
    text-decoration: none;
    color: white;
}
.back a:hover {
    color: black;
    text-decoration: underline;
}
